@{
    ViewData["Title"] = "Начало";
}

<section class="welcome-section">
    <span class="welcome-badge">MonitorLab</span>

    <h1>Добре дошли в MonitorLab</h1>

    <p>
        Уеб система за разглеждане, филтриране и сравнение на компютърни монитори
        според техните основни технически характеристики.
    </p>

    <a asp-controller="Monitors" asp-action="Index" class="welcome-btn">
        Към каталога
    </a>
</section>